@{
    ViewBag.Title = "More About Casey";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Originally from Maryland, Star sign is Leo, My first job was being a deckhand on tour boats on the Potomac River in Washington D.C., 
    I was a competitive horseback rider for 14 years, My first pet was a grey Tabby cat named Buster, 
    I worked at Ping Recreation Center on campus for 3 years, I'm a HUGE Pittsburgh sports fan, I've spent a month in Germany during the
    summer of 2018</p>
