@{
    ViewBag.Title = "Contact Information";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    16501 Rolling Tree Rd<br />
    Accokeek, MD 20607-7745<br />
    <abbr title="Phone">P:</abbr>
    240.505.4276
</address>

<address>
    <strong>Personal:</strong>   <a href="mailto:caseyshows39@gmail.com">caseyshows39@gmail.com</a><br />
    <strong>School:</strong> <a href="mailto:cs330215@ohio.edu">cs330215@ohio.edu</a>
</address>