@{
    ViewBag.Title = "Home Page";
}

    <div class="jumbotron">
        <h1>About Casey at OU</h1>
        <p class="lead">
            Coming to OU was one of the best decisions of my life. Thanks to the great connections I've made with
            peers and faculty, this is a place I truely call hOUme. Since starting at OU, I've chosen my majors and joined multiple organizations.
            Listed below is more information about them.
        </p>
    </div>

<div class="row">
    <div class="col-md-4">
        <h2>My Majors</h2>
        <p>
            As a freshman, I came into OU as an undecided College of Business major. I knew I wanted to study business, but I didn't know
            enough about each major to make a firm decision. By spring semester my sophmore year, I decided to double major in MIS and Business 
            Analytics and minor in Sports Management. 

        </p>
        <p><a class="btn btn-primary" href="https://business.ohio.edu/academics/undergrad-majors/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Alpha Kappa Psi - XiRho</h2>
        <p>
            I rushed a business fraternity because I wanted to improve my professionalism skills and make meaningful connections. I rushed my
            sophmore year during spring semester and was lucky enough to be inducted. I've made connections that I will cherish for the rest of my life.
        </p>
        <p><a class="btn btn-primary" href="https://www.akpsixirho.com/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>OU Emerging Leaders</h2>
        <p>
            I applied to the Emerging Leaders program at the end of my sophmore year. I wanted to join an organization that would help me develop
            my skills as a leader in and out of the classroom. I went another step further by applying to be on the executive board and was chosen
            to be a Co-VP of Networking Trip and Social Events. I learned a lot through my experience with this being my first executive board position ever. 
        </p>
        <p><a class="btn btn-primary" href="https://business.ohio.edu/academics/selective-programs/emerging-leaders/">Learn more &raquo;</a></p>
    </div>
</div>