@{
    ViewBag.Title = "Home Page";
}

    <div class="jumbotron">
        <h1>Welcome Pet Parents!</h1>
        <p class="lead">
            Click on "Owner", "Pets", or "Pet Details" to explore.
        </p>
    </div>

<div class="row">
    <div class="col-md-4">
        <h2>Additional Links</h2>
        <p>
            <br />
            @Html.ActionLink("Owners", "Index", "Owners")
            <br />
            @Html.ActionLink("Pets", "Index", "Pets")
            <br />
            @Html.ActionLink("PetDetails", "Index", "Pet Details")


        </p>
    </div>
    <div class="col-md-4">
        <h2>Alpha Kappa Psi - Xi Rho</h2>
        <p>
            I rushed a business fraternity because I wanted to improve my professionalism skills and make meaningful connections. I rushed my
            sophmore year during spring semester and was lucky enough to be inducted. I've made connections that I will cherish for the rest of my life.
        </p>
        <p><a class="btn btn-primary" href="https://www.akpsixirho.com/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>OU Emerging Leaders</h2>
        <p>
            I applied to the Emerging Leaders program at the end of my sophmore year. I wanted to join an organization that would help me develop
            my skills as a leader in and out of the classroom. I went another step further by applying to be on the executive board and was chosen
            to be a Co-VP of Networking Trip and Social Events. I learned a lot through my experience with this being my first executive board position ever. 
        </p>
        <p><a class="btn btn-primary" href="https://business.ohio.edu/academics/selective-programs/emerging-leaders/">Learn more &raquo;</a></p>
    </div>
</div>